@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bdrabb');
  src:  url('fonts/icomoon.eot?bdrabb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bdrabb') format('truetype'),
    url('fonts/icomoon.woff?bdrabb') format('woff'),
    url('fonts/icomoon.svg?bdrabb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-collaboration:before {
  content: "\e901";
}
.icon-id-card:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}


