/*============================ layout ============================*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html, body {
	height: 100%;
}
body{
    font-family: 'Montserrat', 'Roboto', sans-serif !important;
}

/* Nav */
.img-logo{
	height: 40px;
	width: 160px;
	display: block;
	background: url('/img/bi/logo.png') no-repeat;
	background-size: contain; /*defini o tamanho conforme informador no css h e w*/
	color:transparent;
}

.navbar-brand{
	padding: 25px 15px;
}
.navbar {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.17);
    background: white;
}
.navbar-light .navbar-nav .nav-link {
    color: #95A1AE;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #003164;
}

/* Carousel */
.carousel-caption {
    position: absolute;
    right: 36% !important; 
    bottom: 150px !important;
    left: 7% !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.sobre-area {
    margin-bottom: -60px;
    position: relative;
    top: -15px;
}
.sobre-items {
    box-shadow: 0 0 10px #cccccc;
    /*overflow: hidden;*/
    background: white;
}
.sobre-items .col-md-4 {
    background: #ffffff none repeat scroll 0 0;
    border-right: 1px solid #e7e7e7;
    display: table-cell;
    float: none;
    padding: 30px;
    vertical-align: middle;
    z-index: 1;
}
.sobre-area .sobre-items .icon i {
    color: #95A1AE;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 20px;
}
.sobre-area .sobre-items .icon i:hover {
    color: #003164;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 20px;
}
.info {
    color: #003164;
}
.xp{
    font-size: 15px !important;
    padding-right: 10px;
}
ul.cnt-list li {
    list-style: none;
    font-size: 22px;
    font-weight: normal;
    color: #95A1AE;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 33.333333%;
        width: 33.333333%;
    }
}
.text-primary {
    border-bottom: 1px solid #e7e7e7;
    color: #003164 !important;
}
.font-light {
    color: #003164;
}

.bg-contact {
    background: url('/img/bi/contact.png') no-repeat;
}
@media (min-width: 1440px) {
    .bg-contact {
        background-size: 100vw;
    }
}
@media (max-width: 765px) {
    .bg-contact {
        background-size: cover;
    }
}
.text-secondary {
    color: white !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 50px;
}
.btn-custom-primary {
    background: white;
    color: #003164;
    font-weight: 600;
    font-family: Open Sans;
    font-style: normal;
    /*font-size: 25px;*/
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px;
    border: 2px solid #FFFFFF;
}
.btn-custom-secondary {
    background: #003164;
    color: white;
    font-weight: 600;
    font-family: Open Sans;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 27px;
    border-radius: 0px;
    border: 2px solid #003164;
}
.btn-custom-primary:hover {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: transparent;
    color: white;
    
}
.btn-custom-secondary:hover {
    border: 2px solid #003164;
    box-sizing: border-box;
    background: transparent;
    color: #003164;
    
}
.bg-footer {
    background: #00081D;
}
.footer-copyright {
    background: #1A2134;
}