/*============================ layout ============================*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html, body {
	height: 100%;
}
body{
	background: url('/img/sna/background_top-compress.png')no-repeat;
    font-family: 'Montserrat', sans-serif !important;
	/* overflow-x: hidden; */
}

@media (min-width: 1440px) {
    body{
        background: url('/img/sna/background_top_1.5x-compress.png')no-repeat;
        font-family: 'Montserrat', sans-serif !important;
        background-size: 100vw;
    }
}

@media (max-width: 576px) {
    img.mac-book {
        width: 90vw;
    }

    nav {
        background: linear-gradient(180deg, rgba(42, 86, 158, 0.81) 31.15%, rgba(55, 128, 191, 0.81) 100%);
    }
}

/* ---- Barra de Navegação --- */
nav.navbar-tranparente
{
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
	border: none;
}
.navbar-brand{
    padding-left: 94px;
    font-size: 30px;
}

.nav-link {
    color: white !important;
}
.nav-link:active {
    color: black !important;
}
.nav-link:hover {
    background: rgba(0, 0, 0, 0.1) !important;
}

.content-device {
    position: absolute;
    right: 42%;
    bottom: -80%;
    width: 209px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    /*background: url('/img/') no-repeat;*/
    z-index: 999;
}
.content-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

/* Botões */
.btn-custom-primary {
    width: 200px;
    font-weight: 700;
    height: 40px;
    background: linear-gradient(106.73deg, rgba(22, 72, 159, 0.89) 8.59%, rgba(85, 141, 193, 0.85) 130.93%), #16489F;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.29);
    border-radius: 21px;
    color: white;
}
.btn-custom-primary:hover {
    color: #c9e3ff;
}

.btn-custom-secondary {
    background: white;
    color: #16489F;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.29);
    border-radius: 21px;
    width: 280px;
    height: 35px;
}

.btn-custom-secondary:hover {
    width: 280px;
    height: 35px;
    font-weight: 700;
    background: linear-gradient(106.73deg, rgba(22, 72, 159, 0.89) 8.59%, rgba(85, 141, 193, 0.85) 130.93%), #16489F;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.29);
    border-radius: 21px;
    color: white;
}

/* fonts */
b {
    color: #16489F;
}
.text-primary {
    color: #16489F !important;
}
.text-secondary {
    color: white !important;
}
.font-light {
    color: #16489F;
}

/* Backgrounds */
.bg-secondary {
    background: linear-gradient(180deg, rgba(42, 86, 158, 0.81) 31.15%, rgba(55, 128, 191, 0.81) 100%);
    /* filter: blur(6px); */
}

.xp{
    font-size: 15px !important;
}

ul.cnt-list li {
    list-style: none;
    font-size: 22px;
    font-weight: normal;
    color: #16489F;
}

ul.custom-nav li {
    font-size: 14px;
    font-weight: normal;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 800;
}

/*.beneficios .ctn-list li {*/
    /*font-size: 26px !important;*/
/*}*/