@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mnwe38');
  src:  url('fonts/icomoon.eot?mnwe38#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mnwe38') format('truetype'),
    url('fonts/icomoon.woff?mnwe38') format('woff'),
    url('fonts/icomoon.svg?mnwe38#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 100px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-xp-"], [class*=" icon-xp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-approval:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-forms:before {
  content: "\e902";
}
.icon-geolocalization:before {
  content: "\e903";
}
.icon-medical:before {
  content: "\e904";
}
.icon-notification:before {
  content: "\e905";
}
.icon-notification_mobile:before {
  content: "\e906";
}
.icon-whatsapp:before {
  content: "\e907";
}
